<div class="content mt-3">
  <div class="animated fadeIn">
      <div class="row">
        <div class="col-lg-6">
          <div class="card">
              <div class="card-header">
                  <strong class="card-title">PENGAJUAN PERPANJANGN TUGAS</strong>
              </div>
              <div class="card-body card-block">
                <%= form_with(model: extension_submission, local: true) do |form| %>
                  <div class="<%= current_school.admin ? 'lock': '' %> <%= extension_submission.perpanjangan_tugas.path ? 'lock': '' %>" >
                    <div class="form-group">
                      <%= form.label :year, "Tahun"%>
                      <%= form.select :year, params[:year].to_i..(Time.zone.now.year + 20), {include_hidden: false, :selected => extension_submission.year || params[:year], school_id:@school.id}, id: :active_year, class:"form-control", data:{id:extension_submission.id, type:"ext"} %>
                    </div>
                    <div class="form-group">
                      <%= form.select(:extention_ids, @teachers_based_on_year.map {|ext| [ ext.teacher.name, ext.id ] }, {selected: extension_submission.extension_of_tasks.pluck(:id) }, id:"select_teachers_based_on_year", class:"form-control standardSelect", :"data-placeholder" => "Pilih Guru", multiple:true, required:true) %>
                    </div>
                  </div>

                  <% if current_school.admin || extension_submission.perpanjangan_tugas.path %>
                    <div class="<%= current_school.admin ? '' : 'lock'  %>">
                      <hr>
                        <h5>Keputusan</h5>
                      <hr>
                      <div class="form-group">
                        <%= form.label :perpanjangan_tugas, "Upload Perpanjangan Tugas" %>
                        <%= form.file_field :perpanjangan_tugas, id: :extension_submission_perpanjangan_tugas, required:true, placeholder:"", class:"form-control" %>
                        <%= see_donwload(extension_submission.perpanjangan_tugas, "Surat Perpanjangan Tugas")  if extension_submission.persisted? %>
                      </div>

                      <% if current_school.admin %>
                      <%= form.hidden_field :admin, value:true %>
                      <% end %>
                    </div>
                  <% end %>

                    <%= form.hidden_field :school_id, value:@school.id, id: :extension_submission_school_id, required:true, placeholder:"", class:"from-control" %>
                    <div class="<%= !current_school.admin && extension_submission.perpanjangan_tugas.path.present? ? 'lock' : '' %>">
                      <%= form.submit class:"btn btn-primary" %>
                    </div>
                <% end %>


              </div>
          </div> <!-- .card -->

        </div><!--/.col-->


      </div>


  </div><!-- .animated -->
</div><!-- .content -->


