<p id="notice"><%= notice %></p>

<p>
  <strong>School:</strong>
  <%= @extension_submission.school %>
</p>

<p>
  <strong>Year:</strong>
  <%= @extension_submission.year %>
</p>

<p>
  <strong>Approved by admin:</strong>
  <%= @extension_submission.approved_by_admin %>
</p>

<%= link_to 'Edit', edit_extension_submission_path(@extension_submission) %> |
<%= link_to 'Back', extension_submissions_path %>
