<%= form_with(model: sk_submission, local: true) do |form| %>
  <% if sk_submission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sk_submission.errors.count, "error") %> prohibited this sk_submission from being saved:</h2>

      <ul>
      <% sk_submission.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :year %>
    <%= form.text_field :year, id: :sk_submission_year %>
  </div>

  <div class="field">
    <%= form.label :school_id %>
    <%= form.text_field :school_id, id: :sk_submission_school_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
