<div class="content mt-3">
  <div class="animated fadeIn">
      <div class="row">
        <div class="col-lg-6">
          <div class="card">
              <div class="card-header">
                  <strong class="card-title">FORMULIR PENGAJUAN SK</strong>
              </div>
              <div class="card-body card-block">
                <%= form_with(model: sk_submission, local: true) do |form| %>
                  <div class="form-group" >
                    <%= form.label :year, "Tahun" %>
                      <%= form.select :year, Sk.sk_active_year(@school.teachers.pluck(:id)), {include_hidden: false, :selected => sk_submission.year || Time.now.year}, id: :active_year, class:"form-control", data:{id:sk_submission.id, type:"sk"} %>
                  </div>
                  <div>
                    <%= form.select(:recent_sk, @teachers_based_on_year.map {|sk| [ sk.teacher.name, sk.id ] }, {selected: sk_submission.recent_sk }, id:"select_teachers_based_on_year", class:"form-control standardSelect", :"data-placeholder" => "Pilih Guru", multiple:true, required:true) %>
                  </div>
                  <div class="form-group">
                    <%= form.hidden_field :school_id, value:@school.id, id: :sk_submission_school_id, required:true, placeholder:"", class:"from-control" %>
                  </div>
                  <%= form.submit class:"btn btn-primary" %>
                <% end %>

              </div>
          </div> <!-- .card -->

        </div><!--/.col-->


      </div>


  </div><!-- .animated -->
</div><!-- .content -->

