<p id="notice"><%= notice %></p>

<p>
  <strong>Teacher:</strong>
  <%= @extension_of_task.teacher %>
</p>

<p>
  <strong>Year:</strong>
  <%= @extension_of_task.year %>
</p>

<p>
  <strong>Rekomendasi perwakilan:</strong>
  <%= @extension_of_task.rekomendasi_perwakilan %>
</p>

<p>
  <strong>Persetujuan pemda or sekolah:</strong>
  <%= @extension_of_task.persetujuan_pemda_or_sekolah %>
</p>

<p>
  <strong>Sk mendikbud:</strong>
  <%= @extension_of_task.sk_mendikbud %>
</p>

<p>
  <strong>Surat persetujuan setneg:</strong>
  <%= @extension_of_task.surat_persetujuan_setneg %>
</p>

<p>
  <strong>Assessment:</strong>
  <%= @extension_of_task.assessment %>
</p>

<p>
  <strong>Note:</strong>
  <%= @extension_of_task.note %>
</p>

<p>
  <strong>Approved by school:</strong>
  <%#= @extension_of_task.approved_by_school %>
</p>

<%= link_to 'Edit', edit_extension_of_task_path(@extension_of_task) %> |
<%= link_to 'Back', extension_of_tasks_path %>
