<div class="content mt-3">
  <div class="animated fadeIn">


      <div class="row">
        <div class="col-lg-6">
          <div class="card">
              <div class="card-header">
                  <strong class="card-title">FORMULIR GURU</strong>
              </div>
              <div class="card-body card-block">

                <%= form_with(model: teacher, local: true) do |form| %>
                  <div class="form-group">
                    <%= form.label :name, "Nama" %>
                    <%= form.text_field :name, id: :teacher_name,  required:true, placeholder: "Nama", class:"form-control"  %>
                  </div>
                  <div class="row form-group">
                    <div class="col col-md-3"><label class=" form-control-label">PNS</label></div>
                    <div class="col col-md-9">
                      <div class="form-check-inline form-check">
                        <label for="teacher_pns" class="form-check-label ">
                          <%= form.check_box :pns, id: :teacher_pns, class:"form-check-input" %>Ya
                        </label>
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <%= form.label :age, "Usia" %>
                    <%= form.number_field :age, id: :teacher_age, min:0, required:true, placeholder: "Usia", class:"form-control" %>
                  </div>

                  <div class="form-group">
                    <%= form.label :period_of_teaching, "Lama Mengajar (Tahun)" %>
                    <%= form.number_field :period_of_teaching, id: :teacher_period_of_teaching, required:true, placeholder: "Lama Mengajar", class:"form-control" %>
                  </div>

                  <div class="form-group">
                    <%= form.label :number_of_extension, "Jumlah Perpanjangan" %>
                    <%= form.number_field :number_of_extension,min:0, id: :teacher_number_of_extension,required:true, placeholder: "Jumlah Perpanjangan", class:"form-control" %>
                  </div>

                  <div class="form-group">
                    <%= form.label :expire, "Masa Berlaku", class:"float-left" %>
                    <div class="clearfix"></div>
                    <%= form.date_select :expire, { :include_blank => false }, {:class => "form-control mb-1 col-3 float-left"} %>
                    <div class="clearfix"></div>
                  </div>

                  <div class="actions">
                    <%= form.submit "Kirim", class:"btn btn-primary" %>
                  </div>
                <% end %>          

              </div>
          </div> <!-- .card -->

        </div><!--/.col-->


      </div>


  </div><!-- .animated -->
</div><!-- .content -->
