<div class="content mt-3">
<div class="row">
  <div class="col-sm-6 col-lg-3">
       <div class="card text-white bg-flat-color-1">
           <div class="card-body pb-0">
               <div class="dropdown float-right"></div>
               <h4 class="mb-0">
                   <span class="count">10468</span>
               </h4>
               <p class="text-light">Members online</p>

           </div>

       </div>
   </div>
   <!--/.col-->

   <div class="col-sm-6 col-lg-3">
       <div class="card text-white bg-flat-color-2">
           <div class="card-body pb-0">
               
               <h4 class="mb-0">
                   <span class="count">10468</span>
               </h4>
               <p class="text-light">Members online</p>

           </div>
       </div>
   </div>
   <!--/.col-->

   <div class="col-sm-6 col-lg-3">
       <div class="card text-white bg-flat-color-3">
           <div class="card-body pb-0">
               
               <h4 class="mb-0">
                   <span class="count">10468</span>
               </h4>
               <p class="text-light">Members online</p>

           </div>
       </div>
   </div>
   <!--/.col-->

   <div class="col-sm-6 col-lg-3">
       <div class="card text-white bg-flat-color-4">
           <div class="card-body pb-0">
               
               <h4 class="mb-0">
                   <span class="count">10468</span>
               </h4>
               <p class="text-light">Members online</p>

           </div>
       </div>
   </div>
   <!--/.col-->
  </div>
</div>

<%= render "layouts/filters" %>

<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">

        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <strong class="card-title">DAFTAR GURU</strong>
                </div>
                <div class="card-body">
                  <table id="bootstrap-data-table" class="table table-striped table-bordered">
                    <thead>
                      <tr>
                        <th>No</th>
                        <th>Nama</th>
                        <th>PNS</th>
                        <th>Masa mengajar</th>
                        <th>Banyaknya perpanjangan</th>
                        <th>Masa berlaku</th>
                        <th>Usia</th>
                        <!-- <th>Ceklis verifikasi SK mendikbud</th> -->
                        <!-- <th>Ceklis upload SK mendikbud</th> -->
                        <!-- <th>Ceklis verifikasi perpanjangan masa tugas</th> -->
                        <th>Aksi</th>
                      </tr>
                    </thead>
                    <tbody>
                    <% @teachers.each_with_index do |teacher,index| %>
                      <tr>
                        <td><%=index+1 %></td>
                        <td><%= teacher.name %></td>
                        <td><%= teacher.print_pns %></td>
                        <td><%= teacher.period_of_teaching %></td>
                        <td><%= teacher.number_of_extension %></td>
                        <td><%= teacher.expire.strftime('%d/%m/%Y') %></td>
                        <td><%= teacher.age %></td>
                        <td>
                          <a href="" class="btn btn-primary mb-1" target="blank">Permohonan SK</a>
                          <a href="" class="btn btn-primary" target="blank">Perpanjangan SK</a>
                        </td>
                      </tr>
                    <% end %>
                      <!-- <tr>
                        <td>1</td>
                        <td>Guru 1</td>
                        <td>PNS</td>
                        <td>30</td>
                        <td>10</td>
                        <td>2</td>
                        <td>3</td>
                        <td>lorem</td>
                        <td>lorem</td>
                        <td>
                        <button type="button" class="btn btn-default waves-effect m-r-20" data-toggle="modal" data-target="#permohonan_sk">Permohonan SK</button>
                        <button type="button" class="btn btn-default waves-effect m-r-20" data-toggle="modal" data-target="#perpanjangan_sk">Perpanjangan SK</button>

                            <a href="sekolah-siln-permohonan-sk.html" class="btn btn-primary mb-1" target="blank">Permohonan SK</a>
                            <a href="perpanjangan_sk.html" class="btn btn-primary" target="blank">Perpanjangan SK</a>
                        </td>
                    </tr> -->
                      
                    </tbody>
                  </table>
                </div>
            </div>
        </div>


        </div>
    </div><!-- .animated -->
</div><!-- .content -->