<div class="sufee-login d-flex align-content-center flex-wrap">
        <div class="container">
            <div class="login-content">
                <div class="login-logo">
                    <a href="/">
                        <img class="mb-2" src="<%= asset_path('kemendikbud.ico') %>" alt=""><h4><b>SILN <%= Time.now.year %></b></h4>
                    </a>
                </div>
                <div class="login-form">
                  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                    <div class="form-group">
                      <%= f.label :username %>
                      <%= f.text_field :username, autocomplete: "off", autofocus: true, class: "form-control", placeholder: "Username" %>
                    </div>

                    <div class="form-group">
                      <%= f.label :password %><br />
                      <%= f.password_field :password, class: "form-control", autocomplete: "off" %>
                    </div>

                    <% if devise_mapping.rememberable? -%>
                      <div class="field">
                        <%= f.check_box :remember_me %>
                        <%= f.label :remember_me %>
                      </div>
                    <% end -%>

                     <div class="actions">
                      <%= f.submit "Masuk", class: "btn btn-success btn-flat m-b-30 m-t-30" %>
                    </div>
<!--
                    <div class="form-group">
                        <label>Email address</label>
                        <input type="email" class="form-control" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control" placeholder="Password">
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Remember Me
                        </label>
                        <label class="pull-right">
                            <a href="#">Forgotten Password?</a>
                        </label>

                    </div>
                    <button type="submit" class="btn btn-success btn-flat m-b-30 m-t-30">Sign in</button> -->
                  <% end %>




                </div>
            </div>
        </div>
    </div>

<%#= render "devise/shared/links" %>



    <!-- Right Panel -->
