<!-- 1.2.1
[button Permohonan SK] ->
PERMOHONAN SK MENDIKBUD [form]
Pilih tahun {today}
Upload Surat Permohonan Perwakilan
Upload Ijazah Pendidikan Terakhir
Upload Sertifikat Pendidik
Upload NUPTK
Upload SK Perwakilan
Upload KTP/Paspor
Upload Kartu keluarga
Upload CV
Upload SK Inpassing {Not require}
Upload Biodata LN {download format}
Upload Form Biaya {download format}
Upload Surat Pernyataan {download format}
Submit [button]
View catatan
View Terverifikasi
Download SK Mendikbud
 -->
<div class="content mt-3">
  <div class="animated fadeIn">
      <div class="row">
        <div class="col-lg-6">
          <div class="card">
              <div class="card-header">
                  <strong class="card-title">PERMOHONAN SK GURU <%= @teacher.name.upcase rescue nil %></strong>
              </div>
              <div class="card-body card-block">
                <%= form_with(model: sk, local: true) do |form| %>
                  <% lock = true if current_school.admin || sk.approved_by_admin %>
                  <div class="<%= lock ? 'lock' : '' %>">
                    <div class="form-group">
                      <%= form.hidden_field :teacher_id, value:@teacher.id, id: :sk_teacher_id %>
                    </div>

                    <div class="form-group">
                      <%= form.label :year, "Pilih tahun" %>
                      <%= form.select :year, params[:year].to_i..(Time.zone.now.year + 20), {include_hidden: false, :selected => sk.year || params[:year]}, id: :sk_year, class:"form-control" %>
                    </div>

                    <div class="form-group">
                      <%= form.label :permohonan_perwakilan, "Upload Surat Permohonan Perwakilan" %>
                      <%= form.file_field :permohonan_perwakilan, id: :sk_permohonan_perwakilan, required:true, placeholder: "Upload Surat Permohonan Perwakilan", class:"form-control" %>
                      <%= see_donwload(sk.permohonan_perwakilan, "Surat Permohonan Perwakilan")  if sk.persisted? %>
                    </div>

                    <div class="form-group">
                      <%= form.label :ijazah, "Upload Ijazah Pendidikan Terakhir" %>
                      <%= form.file_field :ijazah, id: :sk_ijazah, placeholder: "Upload Ijazah Pendidikan Terakhir", required:true, class:"form-control" %>
                      <%= see_donwload(sk.ijazah, "Ijazah Pendidikan Terakhir")  if sk.persisted? %>
                    </div>

                    <div class="form-group">
                      <%= form.label :sertifikat_pendidik, "Upload Sertifikat Pendidik" %>
                      <%= form.file_field :sertifikat_pendidik, id: :sk_sertifikat_pendidik, placeholder: "Upload Sertifikat Pendidik", required:true, class:"form-control" %>
                      <%= see_donwload(sk.sertifikat_pendidik, "Sertifikat Pendidik") if sk.persisted? %>
                    </div>

                    <div class="form-group">
                      <%= form.label :nuptk, "Upload NUPTK" %>
                      <%= form.file_field :nuptk, id: :sk_nuptk, placeholder: "Upload NUPTK", required:true, class:"form-control" %>
                      <%= see_donwload(sk.nuptk, "NUPTK") if sk.persisted? %>
                     </div>

                    <div class="form-group">
                      <%= form.label :sk_perwakilan, "Upload SK Perwakilan" %>
                      <%= form.file_field :sk_perwakilan, id: :sk_sk_perwakilan, placeholder: "Upload SK Perwakilan", required:true, class:"form-control" %>
                      <%= see_donwload(sk.sk_perwakilan, "SK Perwakilan") if sk.persisted? %>
                    </div>

                    <div class="form-group">
                      <%= form.label :ktp_or_paspor, "Upload KTP/Paspor" %>
                      <%= form.file_field :ktp_or_paspor, id: :sk_ktp_or_paspor, placeholder: "Upload KTP/Paspor", required:true, class:"form-control" %>
                      <%= see_donwload(sk.ktp_or_paspor, "KTP/Paspor") if sk.persisted? %>
                    </div>

                    <div class="form-group">
                      <%= form.label :kk,"Upload Kartu keluarga" %>
                      <%= form.file_field :kk, id: :sk_kk, placeholder: "Upload Kartu keluarga", required:true, class:"form-control" %>
                      <%= see_donwload(sk.kk, "Kartu keluarga") if sk.persisted? %>
                    </div>

                    <div class="form-group">
                      <%= form.label :cv, "Upload CV" %>
                      <%= form.file_field :cv, id: :sk_cv, placeholder: "Upload CV", required:true, class:"form-control"  %>
                      <%= see_donwload(sk.cv, "CV") if sk.persisted? %>
                     </div>

                    <div class="form-group">
                      <%= form.label :sk_inpassing, "Upload SK Inpassing" %>
                      <%= form.file_field :sk_inpassing, id: :sk_sk_inpassing, placeholder: "Upload SK Inpassing", class:"form-control" %>
                      <%= see_donwload(sk.sk_inpassing, "SK Inpassing") if sk.persisted? %>
                    </div>

                    <div class="form-group">
                      <%= form.label :biodata_ln, "Upload Biodata LN" %>
                      <%= form.file_field :biodata_ln, id: :sk_biodata_ln, required:true, placeholder: "Upload Biodata LN", class:"form-control" %>
                      <%= see_donwload(sk.biodata_ln, "SK Biodata LN")  if sk.persisted? %>
                    </div>

                    <div class="form-group">
                      <%= form.label :form_biaya,"Upload Form Biaya" %>
                      <%= form.file_field :form_biaya, id: :sk_form_biaya, required:true, placeholder: "Upload Form Biaya", class:"form-control"  %>
                      <%= see_donwload(sk.form_biaya, "Form Biaya") if sk.persisted? %>
                    </div>

                    <div class="form-group">
                      <%= form.label :pernyataan, "Upload Surat Pernyataan" %>
                      <%= form.file_field :pernyataan, id: :sk_pernyataan, required:true, placeholder: "Upload Surat Pernyataan", class:"form-control" %>
                      <%= see_donwload(sk.form_biaya, "Form Surat Pernyataan")  if sk.persisted? %>
                    </div>
                  </div>

                  <% if sk.approved_by_admin || current_school.admin %>
                    
                    <hr>
                    <h5 class="mb-3">Keputusan</h5>
                    <hr>

                    <div class="<%= current_school.admin ? '' : 'lock' %>">
                    <div class="row form-group">
                      <div class="col col-md-3"><label class=" form-control-label">Diverifikasi</label></div>
                      <div class="col col-md-9">
                        <div class="form-check-inline form-check">
                          <label for="teacher_pns" class="form-check-label ">
                            <%= form.check_box :approved_by_admin, class:"form-check-input" %>Ya
                          </label>
                        </div>
                      </div>
                    </div>

                      <div class="form-group">
                        <%= form.label :note, "Catatan" %>
                        <%= form.text_area :note, id: :sk_note, placeholder: "Catatan", required:true, class:"form-control" %>
                      </div>

                      <%= form.hidden_field :admin, value:true %>
                      <div class="form-group">
                        <%= form.label :sk_untuk_guru, "Upload SK" %>
                        <%= form.file_field :sk_untuk_guru, id: :sk_untuk_guru, placeholder: "Upload SK", required:true, class:"form-control" %>
                        <%= see_donwload(sk.sk_untuk_guru, "SK_#{sk.year}_#{@teacher.school.name}_")  if sk.persisted? %>
                      </div>
                    </div>
                    <% end %>
                    <div class="<%= !current_school.admin && sk.approved_by_admin ? 'lock' : '' %>">
                      <%= form.submit class:"btn btn-primary" %>
                    </div>
                <% end %>

              </div>
          </div> <!-- .card -->

        </div><!--/.col-->


      </div>


  </div><!-- .animated -->
</div><!-- .content -->