<p id="notice"><%= notice %></p>

<p>
  <strong>Teacher:</strong>
  <%= @sk.teacher %>
</p>

<p>
  <strong>Year:</strong>
  <%= @sk.year %>
</p>

<p>
  <strong>Permohonan perwakilan:</strong>
  <%= @sk.permohonan_perwakilan %>
</p>

<p>
  <strong>Ijazah:</strong>
  <%= @sk.ijazah %>
</p>

<p>
  <strong>Sertifikat pendidik:</strong>
  <%= @sk.sertifikat_pendidik %>
</p>

<p>
  <strong>Nuptk:</strong>
  <%= @sk.nuptk %>
</p>

<p>
  <strong>Sk perwakilan:</strong>
  <%= @sk.sk_perwakilan %>
</p>

<p>
  <strong>Ktp or paspor:</strong>
  <%= @sk.ktp_or_paspor %>
</p>

<p>
  <strong>Kk:</strong>
  <%= @sk.kk %>
</p>

<p>
  <strong>Cv:</strong>
  <%= @sk.cv %>
</p>

<p>
  <strong>Sk inpassing:</strong>
  <%= @sk.sk_inpassing %>
</p>

<p>
  <strong>Biodata ln:</strong>
  <%= @sk.biodata_ln %>
</p>

<p>
  <strong>Form biaya:</strong>
  <%= @sk.form_biaya %>
</p>

<p>
  <strong>Pernyataan:</strong>
  <%= @sk.pernyataan %>
</p>

<p>
  <strong>Approved by school:</strong>
  <%= @sk.approved_by_school %>
</p>

<p>
  <strong>Approved by admin:</strong>
  <%= @sk.approved_by_admin %>
</p>

<p>
  <strong>Note:</strong>
  <%= @sk.note %>
</p>

<p>
  <strong>Sk for teacher:</strong>
  <%= @sk.sk_for_teacher %>
</p>

<%= link_to 'Edit', edit_sk_path(@sk) %> |
<%= link_to 'Back', sks_path %>
