
<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">

        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <strong class="card-title">DAFTAR PERMOHONAN GURU</strong>
                </div>
                <div class="card-body">
                  <table id="bootstrap-data-table" class="table table-striped table-bordered">
                    <thead>
                      <tr>
                        <th>No</th>
                        <th>Nama</th>
                        <th>PNS</th>
                        <th>Masa mengajar</th>
                        <th>Banyaknya perpanjangan</th>
                        <th>Masa berlaku</th>
                        <th>Usia</th>
                        <!-- <th>Status SK</th> -->

                        <!-- <th>Ceklis verifikasi SK mendikbud</th> -->
                        <!-- <th>Ceklis upload SK mendikbud</th> -->
                        <!-- <th>Ceklis verifikasi perpanjangan masa tugas</th> -->
                        <th>SK</th>
                        <th>Perpanjangan</th>
                        <% unless current_school.admin %><th>Aksi</th><% end %>
                      </tr>
                    </thead>
                    <tbody>
                    <% @teachers.each_with_index do |teacher, index| %>
                      <tr>
                        <td><%=index+1 %></td>
                        <td><%= teacher.name %></td>
                        <td><%= teacher.print_pns %></td>
                        <td><%= teacher.period_of_teaching %></td>
                        <td><%= teacher.number_of_extension %></td>
                        <td><%= teacher.expire.strftime('%d/%m/%Y') %></td>
                        <td><%= teacher.age %></td>
                        <% unless teacher.pns %>
                            <td>
                                <% if teacher.sks.present? %>
                                <% teacher.sks.each do |sk| %>
                                    <table>
                                        <tr>
                                            <td>
                                                <a href="<%= edit_teacher_sk_path(teacher, sk) %>" class="btn btn-primary " target="blank"><%= sk.year %></a>
                                            </td>
                                            <td><%= sk.status %></td>
                                            <!-- <td><%#= link_to "Download", sk.sk_untuk_guru.url, class: "", download: "#SK {}" if sk.sk_untuk_guru.present? %></td> -->
                                        </tr>
                                    </table>
                                <% end %>
                            <% end %>                        
                                <table>
                                    <tr>
                                        <td>
                                        <% unless current_school.admin %>
                                          <a href="<%= new_teacher_sk_path(teacher) %>" class="btn btn-primary " target="blank">Mohon Baru</a>
                                          <% end %>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td>
                                <!-- approved_by_admin -->
                                <% if teacher.extension_of_tasks.present? %>
                                    <% teacher.extension_of_tasks.each do |ext| %>
                                    <table>
                                        <tr>
                                            <td>
                                                <a href="<%= edit_teacher_extension_of_task_path(teacher, ext) %>" class="btn btn-primary" target="blank"><%= ext.year %></a>
                                            </td>
                                            <td><%= ext.status %></td>
                                    <% end %>
                                        </tr>
                                    </table>
                                <% else %>
                                <% end %>
                                <table>
                                    <tr>
                                        <td>
                                        <% unless current_school.admin %>
                                            <a href="<%= new_teacher_extension_of_task_path(teacher) %>" class="btn btn-primary" target="blank">Mohon Baru</a>
                                        <% end %>
                                    </td>
                                    </tr>
                                </table>

                            </td>
                            <% else %>
                            <td></td>
                            <td></td>
                        <% end %>
                        <% unless current_school.admin %>
                            <td>
                                <a href="<%= edit_teacher_path(teacher)%>" class="btn btn-primary">Edit</a>
                                <%= link_to "Hapus", teacher_path(teacher), method:"delete", :"data-confirm" => "Anda yakin ?", class: "btn btn-primary" %>
                            </td>
                        <% end %>
                      </tr>
                     <% end %>
                    </tbody>
                  </table>
                </div>
            </div>
        </div>


        </div>
    </div><!-- .animated -->
</div><!-- .content -->